// Helper Class

// Colors
.c-white {
  color: $mainWhite;
}

.c-gray {
  color: #7c7c7c;
}

.c-red {
  color: $mainRed;
}

.c-black {
  color: $black;
}

// Background Colors

.b-white {
  background: $mainWhite;
}

.b-gray {
  background: #7c7c7c;
}

// Seperator

.separator{
  border: 1px solid #e3e2e2;
}

